<p> Welcome to the saxon.zone personal finance database system (szpfdbs)! Select an action below.
<h1>Contents</h1>
<ul>
    <li><a href="./accounts">View Accounts</a></li>
    <li><a href="./transactions">View Transactions</a></li>
    <li><a href="./transaction-categories">Edit Transaction Categories</a></li>
</ul>
